<div class="cb-dashboard-container">
  <div class="columns">
    <div class="column is-2">
      <aside class="menu">
        <p class="menu-label">General</p>
        <ul class="menu-list">
          <li><a>Dashboard</a></li>
        </ul>
        <p class="menu-label">Routing</p>
        <ul class="menu-list">
          <li>
            <ul>
              <a>Buses</a>
              <a>Stops</a>
            </ul>
          </li>
        </ul>
        <p class="menu-label">Administration</p>
        <ul class="menu-list">
          <li>
            <ul>
              <a>Roles</a>
              <a>Users</a>
            </ul>
          </li>
        </ul>
      </aside>
    </div>
    <div class="column is-10 content">
      <h1>Dashboard#index</h1>
      <p>Find me in app/views/dashboard/index.html.erb</p>
    </div>
  </div>
</div>




