<div class="cb-dashboard-container">
  <div class="columns">
    <%= render 'shared/dashboard_menu' %>

    <div class="column is-10 content">
      <h1>Dashboard</h1>
      <table>

      </table>
    </div>
  </div>
</div>




