<div class="column is-2">
  <aside class="menu">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li><%= link_to 'Dashboard', dashboard_index_path %></li>
    </ul>
    <p class="menu-label">Routing</p>
    <ul class="menu-list">
      <li><%= link_to 'Buses', dashboard_buses_path %></li>
      <li><%= link_to 'Stops', dashboard_stops_path %></li>
    </ul>
    <p class="menu-label">Administration</p>
    <ul class="menu-list">
      <li><a>Roles</a></li>
      <li><a>Users</a></li>
    </ul>
  </aside>
</div>