<div class="container cb-container">
  <div class="columns">
    <div class="column is-full landing-logo">
      <%= image_tag "collegebus-logo.jpg" %>
    </div>
  </div>

  <div class="columns">
    <div class="column content">
      <h1>Welcome</h1>
    </div>
    <div class="column content">
      <h1>Routing</h1>
    </div>
  </div>
</div>



